{% extends "base.html" %}
{% block title %}Бронирование{% endblock %}
<h1>{% block header %}{% endblock %}</h1>
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">

            <div class="card-header">
                {% if form.instance.id %}
                Редактировать бронирование
                {% else %}
                Создать новое бронирование
                {% endif %}
            </div>
            <div class="card-body">
                <form
                        method="POST" enctype="multipart/form-data"
                        {% if form.instance.id and perms.parking_systems.change_reservation %}
                        action="{% url 'parking_systems:update_reservation' reservation.id %}"
                        {% else %}

                        action="{% url 'parking_systems:booking' %}"
                        {% endif %}
                >
                    <div class="alert alert-info" role="alert">
                            Выберите время бронирования. Парковочное место будет назначено автоматически.
                        </div>
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% csrf_token %}


                    {% for field in form %}
                    <div
                            class="form-group row"
                            aria-required="{% if field.field.required %}true{% else %}false{% endif %}"
                    >
                        <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                            {{ field.label }}{% if field.field.required %}&nbsp;*{% endif %}
                        </label>
                        <div class="col-md-6">
                            {{ field|addclass:"form-control" }}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>
                        <a class="btn btn-secondary"
                           href="{% url 'parking_systems:index' %}">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}