{% extends "base.html" %}
{% block title %} Бронирование {{ collection.name }} {% endblock %}
{% block header %} {{ reservation }}{% endblock %}
{% block content %}
{% load parking_system_filters %}
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'parking_systems:index' %}">Парковочные места</a></li>
                <li class="breadcrumb-item"><a href="{% url 'parking_systems:parking_reservations' slot.id %}">Бронирования</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ reservation }}</li>
            </ol>
        </nav>
        <p> Вы забронировали парковочное место № {{ reservation.parking_space.id }}. Период бронирования составит
            {{ period|timedelta_filter }} </p>
        <hr>
        <a href="{% url 'parking_systems:booking' %}"
           class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Создать новое бронирование</a>
        <a href="{% url 'parking_systems:update_reservation' reservation.id %}"
           class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Редактировать бронирование</a>
        <a href="{% url 'parking_systems:delete_reservation' reservation.id %}"
           class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Удалить бронирование</a>
        {% endblock %}
</div>
